﻿@model backOffice.ViewModels.Zona.EditZonaViewModel

@{
    ViewBag.Title = "Editar Zona";
}

    <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mg-b-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                </ol>
            </nav>

            <div class="card card-table-one">

                <form method="post" action="">

                    <div class="form-horizontal">
                        <h4>@ViewBag.Title</h4>


                        @Html.HiddenFor(model => model.dcz_id)

                        <div class="form-group">
                            @Html.LabelFor(x => x.dcz_descripcion, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.dcz_descripcion, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.dcz_descripcion)
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(x => x.dcz_status, new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.dcz_status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.dcz_status)
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-outline-primary" />
                            </div>
                        </div>
                    </div>


                </form>


            </div><!-- card-dashboard-five -->

        </div>


    </div>





