﻿@model backOffice.ViewModels.Zona.ListZonaViewModel

@{
    ViewBag.Title = "ListZona";
}
@section Styles {
    <link href="@Url.Content("~/Content/lib/datatables.net-dt/css/jquery.dataTables.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css")" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mg-b-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>

        <div class="card card-table-one">


            <table class="table">
                <thead>
                    <tr>
                        <th>Estatus</th>
                        <th>Codigo</th>
                        <th>Descripcion</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListZona)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.dcz_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dcz_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dcz_descripcion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditZona", new { id = item.dcz_id }, new { @class = "btn btn-outline-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.dcz_id }, new { @class = "btn btn-outline-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                @Html.ActionLink("Create New", "EditZona", null, new { @class = "btn btn-outline-primary" })
            </p>
        </div><!-- card-dashboard-five -->

    </div>


</div>

@section Scripts {
    <script src="@Url.Content("~/Content/lib/datatables.net/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/lib/datatables.net-dt/js/dataTables.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Content/lib/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/Content/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js")"></script>

    <script>
        $('.table').DataTable({
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>
}